@model GrandRepairAuto.Web.Models.OrderVM

<section>
    <h1>Update Order #@Model.Id</h1>    

        <button type="submit" class="btn btn-primary">Submit</button>
        
        <button asp-controller="Orders" asp-action="Index" class="btn btn-secondary" formnovalidate="formnovalidate">Cancel</button>


</section>
