@model GrandRepairAuto.Web.Models.ServiceVM
@using GrandRepairAuto.Data.Enums

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label asp-for="PricePerHour">Price Per Hour</label>
        <input asp-for="PricePerHour" type="number" class="form-control" placeholder="Price Per Hour">
    </div>
    <div class="form-group">
        <label asp-for="WorkHours">Work Hours</label>
        <input asp-for="WorkHours" type="number" class="form-control" placeholder="Work Hours">
    </div>
    <div class="form-group">
        <label asp-for="VehicleType">Vehicle Type</label>
        <select asp-for="VehicleType" asp-items="Html.GetEnumSelectList<VehicleTypes>()" class="form-control" placeholder="Vehicle Type"></select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button asp-controller="Services" asp-action="Index" class="btn btn-secondary">Cancel</button>
</form>

