@model GrandRepairAuto.Web.Models.UserVM
@using GrandRepairAuto.Data.Enums

<form method="post">

    <div class="form-group row">
        <div class="col-6">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control" pattern="^[A-Za-z]{2,20}$" title="First name must be between 2 and 20 characters" required="required" placeholder="First Name">
        </div>
        <div class="col-6">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control" pattern="^[A-Za-z]{2,20}$" title="Last name must be between 2 and 20 characters" required="required" placeholder="Last Name">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-6">
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Email" type="email" class="form-control" required="required" placeholder="Email">
        </div>
        <div class="col-6">
            <label asp-for="PhoneNumber">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" pattern="^[0][0-9]{9}$" title="Phone number must be in the format 0XXXXXXXXX, 10 digits long" required="required" placeholder="PhoneNumber">
        </div>
    </div>

    <div class="form-group">
        <label>Roles</label>
        @for (int i = 0; i < Model.RoleSelection.Count; i++)
        {
            <div class="form-check" required="required">
                <input type="hidden" asp-for="RoleSelection[i].Name"/>
                <input asp-for="RoleSelection[i].Checked" type="checkbox" class="form-check-input">
                <label class="form-check-label" for="flexCheckDefault">@Model.RoleSelection[i].Name</label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button asp-controller="Users" asp-action="Index" class="btn btn-secondary" formnovalidate="formnovalidate">Cancel</button>
</form>


